# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
TestResults/

# CMake / C++
build/
out/
Output/
output/
output-installer/
installer/Fluxora.Installer/Resources/Payload/
CMakeUserPresets.json
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.exe

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
